html, body {
    min-height: 100%;
    width: 100%;
    color: #fff;
    background-color: #000;
    margin:0;
    padding:0;
}

header {
    height: 6%;
    background-color: #1c1c1c 
}

#pageOne, #pageTwo {
    height: 47%;
    background-color: #373737;
} 
